{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<header>
  <div class="header-content"></div>
    <img class="header-image" src="{% static 'img/logo2.png' %}" />
    <h1 class="header-text"> Welcome to Kaitlyn's Noodle Nest</h1>
  </div>
  
  
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'book' %}">Book</a></li>
  </ul>
</nav>
